@charset "utf-8";

/* 헤더 */

#header {
    width: 200px; position: fixed; 
    top: 0;left: 0;height: 100%;
    background: #fff; z-index: 99;
    overflow: hidden;
    border-right: 1px solid #f0f0f0;
}

#header .logo {text-align: center;}
#header .logo img {width: 140px; padding: 40px 0;}

#header .open {border: none;display: none;}
#header #nav .close {display:none}

/* 네비게이션 */

#nav {position: relative; height: calc(100% - 100px);}

#nav .depth1 > li > a > i:first-child {
    display: inline-block;
    width:22px;height: 22px;
    font-size: 20px;
    text-align: center;
}

#nav .depth1 > li > a > .fa-chevron-down {
    position: absolute;
    right: 0; top:50%;
    font-size:16px;
    margin:-6px 25px 0 0;
    display:none}

#nav .depth1 {
    margin-bottom: 80px; 
    margin-right: -17px;
    height: 550px;
    overflow-y:auto;}

#nav .depth1 > li > a {
    display:block;padding: 25px 28px; 
    border-bottom: 1px solid #f0f0f0;
    position: relative;}

#nav .depth1 > li > a > .fa-chevron-down {
    position: absolute;
    right: 0;display:none}

#nav .depth1 li:first-child > a {
    border-top: 1px solid #f0f0f0;
    color:#4263eb;}

#nav .depth1 li:first-child > a span::before {
    width: 120%; background: #4263eb; 
}


#nav .depth1 > li.on > a {color:#4263eb;}

#nav .depth1 li > a > span {
    margin-left: 16px;
    position: relative;
    transition: all 0.4s;}

#nav .depth1 > li > a span::before {
    content: '';display: block;
    position: absolute;
    background: #212529;
    bottom: 5px; left: -3px;height: 5px; 
    opacity: 0.2; z-index: -1;
    transition: all 0.3s; width: 0;}

#nav .depth1 > li:hover > a span::before {width: 120%;}

#nav .depth1 > li.on > a span::before {
    background: #4263eb;
    width: 120%;}


#nav .depth1 > li .depth2 {display: none;}

#nav .depth1 > li.on .depth2 {display:block;}

#nav .depth1 > li .depth2 > li a {   
    display: block;
    font-size: 15px;
    color: #555;
    padding: 15px 20px 15px 30px;
    background-color: #f8f9fa;
    border: none;}

#nav .depth1 > li .depth2 > li a:hover {font-weight: 700;}

/* 헤더 하단 인포*/

#nav .info {
    position: absolute; 
    left :0; bottom: 50px;
    color: #868e96; 
    padding: 0 20px; font-size: 13px;
    line-height: 1.6;}

#nav .info  > #address {margin-bottom: 10px;}

#nav .info p strong {color: #212529;}

#nav .info .ma {
    margin-top: 10px; text-align: center;
    width: 170px;
    font-size: 12px;}